 
 /* -----------------header---------------- */

 header{
    background-color: $variable;
    display: flex;
    flex-direction: row;
    width: 100%;
    .logo{
        width: 7em;
        height: 7em;
        border-radius: 20px;
        margin: 2em 0em 2em 5em;
        .navbar{
            background-color: $variable;
            width: 100%;
            text-align: left;
        }

}
}