*{
    margin: 0;
    padding: 0;
}


 /* -----------------header---------------- */
 header{
    background-color: #FFF9D7;
    display: flex;
    flex-direction: row;
    width: 100%;

}

.logo{
    width: 7em;
    height: 7em;
    border-radius: 20px;
    margin: 2em 0em 2em 5em;

}

.navbar{
    background-color: #FFF9D7;
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 1ems;
}

.navbar-nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3em;
    margin-left: 20em;

}

.navbar-nav a{
    font-size: 1.2em;
    font-weight: 500;

}


/* ---------------------index1-------------------- */

.indexSectionOne{
    background-color: #810955; 
    width: 100%;
    display: flex;
    flex-direction: column;
}

.containerIndexOne h1{
    width: 90%;
    margin-left: 0.7em;
    margin-top: 1.25em;
    font-size: 5.5rem;
    color: white;
}

.containerIndexOne h2{
    margin-top: 1em;
    margin-left: 1.2em;
    font-size: 3.5rem;
    color: white;


}

.containerIndexOne p{
    width: 70%;
    margin-left: 2.2em;
    margin-top: 2em;
    line-height: 2.6rem;
    font-size: 1.8rem;
    color: white;


}


.DiscoverAuraButton{
    width: 7em;
    border: 3px solid;
    border-radius: 20px;
    border-color: black;
    color: black;
    font-size: 1.5rem;
    margin: 1.2em 0em 2.5em 2.5em;
    padding: 0.3rem;
    background-color: white;
    text-decoration: none;
    text-align: center;

}

.DiscoverAuraButton:hover{
    color: #5B4B8A;
}   


/* ---------------------index2-------------------- */
 .indexSectionTwo{
    background: rgb(216,156,219);
    background: linear-gradient(90deg, rgba(216,156,219,1) 0%, rgba(201,144,201,1) 14%, rgba(219,93,219,1) 30%, rgba(219,38,218,1) 49%, rgba(231,7,227,1) 72%, rgba(153,82,150,1) 100%);
    width: 100%;
    display: flex;
    
    }

    .containerIndexTwo h2{
        color: #7433ce;
        margin-top: 2em;
        font-size: 1.4em;
        text-align: center;
    }

    .containerIndexTwo h3{
        font-size: 2.4em;
        margin-top: 1rem;
        text-align: center;
        color: white;


    }

    .containerIndexTwo p{
        margin: auto;
        font-size: 1.4em;
        margin-top: 1em;
        text-align: center;
        width: 75%;
        color: white;

    }  


    .videoIndex2{
        display: block;
        margin: 2em auto;
        width: 70em;
        max-width: 90%;
        height: 35em;
    } 


/* ---------------------index3-------------------- */

.indexSectionThree{
    background: rgb(216,156,219);
    background: linear-gradient(90deg, rgba(216,156,219,1) 0%, rgba(201,144,201,1) 14%, rgba(219,93,219,1) 30%, rgba(219,38,218,1) 49%, rgba(231,7,227,1) 72%, rgba(153,82,150,1) 100%);
    display: flex;

}

.containerIndexThree{
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 1em auto;
    gap: 3em;
}

.divisionIndexThree{
    width: 20em;
    padding: 1em;

}

.divisionIndexThree h2{
    margin-top: 1em;
    font-size: 1.5rem;
    font-weight: bold;
    color: white;

}

.divisionIndexThree p{
    font-size: 1rem;
    line-height: 1.4rem;
    width: 90%;
    color: white;

} 

.blockchainIcon{
    width: 3.5em;
    height: 3.5em;
}
 


/* ---------------------index4-------------------- */
  
.indexSectionFour{
    background-color: red;
    width: 100%;
 }
 

.introIndexFour{
    width: 100%;
    background-color: #610C63;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
} 

.introIndexFour h2{
    color: white;
    margin-top: 2em;
    font-size: 3rem;
    margin-left: 1rem;
    border-bottom: none;
}

.introIndexFour p{
    color: white;
    font-size: 1.8em;
    width: 95%;
    margin-left: 1rem;

} 
.intro1{
    width: 85%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 3px solid black;
}


.buttonBuildNow{
    width: 6em;
    border: 3px solid;
    border-radius: 20px;
    border-color: black;
    color: black;
    font-size: 1.5rem;
    margin-left: 2.5rem;
    margin-top: 4em;
    padding: 0.2rem;
    background-color: white;
    text-decoration: none;
    text-align: center;
}

.buttonBuildNow:hover{
    color: #5B4B8A;
}



.divisionsIndexFour{
    width: 100%;
    background-color: #610C63;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 0.2em;
}



.divisionIndexFour1 , .divisionIndexFour2, .divisionIndexFour3{
    background-color: #7e738d;
    display: flex;
    flex-direction: column;
    width: 30%;
    margin: 2em;
    padding: 0.5em;
}

.divisionIndexFour1 h2, .divisionIndexFour2 h2,.divisionIndexFour3 h2{
    color: white;
    font-size: 1.7em;
    width: 85%;
}

.divisionIndexFour1 p, .divisionIndexFour2 p,.divisionIndexFour3 p{
    color: white;
    width: 100%;
    font-size: 1.1em;
    line-height: 1.4em;
    margin-top: 1.5em;
} 

.buttonArrow{
    margin-top: 3em;
    font-weight: bold;
}

.buttonArrow1{
    margin-top: 1.5em;
    font-weight: bold;
}

.arrow{
    width: 30px;
    height: 30px;
} 

/* ---------------------index5-------------------- */


.containerIndexFive{
    width: 100%;
    grid-area: index5;
    background-color: #FFF9D7;
}

.containerIndexFiveBackers{
    width: 95%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.containerIndexFiveBackers h2{
    margin-top: 1.2em;
    font-size: 4.8em;

} 

.backers{
    width: 90%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 6em;
    grid-row-gap: 3em;
    margin: 2em auto;
    padding-right: 2em;
    justify-content: center;
}

.backers li{
    list-style: none;

} 

.backers li img{
    max-width: 12.5em;
    max-height: 5.37em;
    width: 100%;
    height: 100%;

} 

.containerIndexFiveSupporters{
    width: 95%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.containerIndexFiveSupporters h2{
    margin-top: 1.2em;
    font-size: 4.8em;

}

.supporters{
    width: 90%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 6em;
    grid-row-gap: 3em;
    margin: 2em auto;
    padding-right: 2em;
    justify-content: center;

}

.supporters li{
    list-style: none;

}  

.supporters li img{
    max-width: 12.5em;
    max-height: 5.37em;
    width: 100%;
    height: 100%;
}
 


/* ---------------------index6-------------------- */


.indexSectionSix{
    width: 100%;
    display: flex;
    flex-direction: column;
}

 .containerIndexSix{
    background-color: #610C63;
}

.containerIndexSix h2{
    color: #7433ce;
    margin-left: 1rem;
    margin-top: 2em;
    font-size: 1.4em;
    text-align: center;

}


.containerIndexSix h3{
    margin-left: 1rem;
    font-size: 2.4rem;
    text-align: center;
    margin-top: 1rem;
    color: white;

}

.containerIndexSix p{
    margin: auto;
    font-size: 1.4em;
    margin-top: 1em;
    margin-bottom: 2em;
    text-align: center;
    width: 75%;
    color: white;
}



.socialNetworks{ 
    background-color: #610C63;
    padding: 1em;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

.socialcontainer{
    padding: 0.5em;
}


.socials{
    background-color: #610C63;
    padding: 0.25em;
    margin-top: 3rem;
    margin-bottom: 5em;
    width: 18%;
    text-align: center;
    box-shadow: 0 18px 36px -18px rgb(0 0 0 / 30%), 0 30px 60px -12px rgb(50 50 93 / 25%), 0 -12px 36px -8px rgb(0 0 0 / 3%);
    transition: 0.8s;
}

.socials:hover{
    transform: translateY(-25px);
    cursor: pointer;
    
}

.socials h3{
    margin-top: 1.9rem;
    margin-left: 0.1em;
    text-align: center;
    align-items: center;
    line-height: 0rem;
    font-size: 1.2em;

}

.socials p{
    color: white;
    display: contents;
    font-size: 1.2em;
}

.socialIntro{
    margin-top: 2em;
    margin-bottom: 0.5em;
    display: flex;
    flex-direction: row;
    background-color: #610C63;

}

.socialIntro1{
    margin-top: 2em;
    margin-bottom: 0.5em;
    display: flex;
    flex-direction: row;
    background-color: #610C63;

} 


/* ---------------------footer-------------------- */




.containerFooter{
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(215,179,217,1) 29%, rgba(224,172,227,1) 70%, rgba(0,0,0,1) 100%, rgba(17,16,17,1) 100%);
    display: flex;
    flex-direction: column;
}

.footer1{
    display: flex;
    flex-direction: row;
}

.footerLists{
    padding: 2em;
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 2em;

}

.listfoot{
    width: 85%;
    display: flex;
    flex-direction: row;
    padding: 0.5em;
}

.footerLists li{
    text-align: left;
    margin-top: 0.5rem;
    font-size: 1.1rem;
    list-style: none;

}

.footerLists li a{
    text-decoration: none;
}


.footerIcons{
    padding: 2em;
    width: 40%;
}

.socialListIcons{
    max-width: 85%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    gap: 3em;


}

.socialListIcons li{
    text-decoration: none;
}

.socialListIcons .footerIcon{
    width: 1.5em;
    height: 1.5em;
}

.socialListIcons li span{
    display: none;
}

.socialListIcons .footerIcon:hover{
    background-color: white;
}

 .footerEnd{
    margin-top: 2.5em;
    margin-bottom: 2em;
    margin-left: 3.8em;
    width: 60%;
    display: flex;
    flex-direction: row;
}

.iconFooter{
    width: 10%;
    height: 10%;

}
.footerEnd p{
    align-self: center;
    color: white;
    font-size: 1.1em;
    margin-left: 0.5rem;
}



.socialListIcons li a{
    list-style: none;
} 

/* -------------technology1------------------- */


.technology1SectionOne{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(178,82,236,1) 94%, rgba(142,9,199,1) 100%);    height: 38em;
    display: flex;
    flex-direction: row;
    width: 100%;
}

.introToAura{   
    padding: 3em 0.5em 0 5em;
    width: 45%;
}

.technology1Picture1{
    width: 55%;
    padding: 3em 0em 0em 4.5em;
}

.introToAura h2{
    font-size: 2em;
    margin-left: 0.5em;
    color: white;
}

.introToAura p{
    margin-top: 1.7em;
    line-height: 1.7em;
    font-size: 1.1em;
    margin-left: 1em;
    color: white;
}



.techPicture1{
    display: block;
    border: solid black 3px;
    width: 80%;
    height: 80%;
}


.technology1SectionTwo{
    background: rgb(243,240,245);
    background: linear-gradient(90deg, rgba(243,240,245,1) 0%, rgba(213,178,230,1) 94%, rgba(200,117,236,1) 100%);    width: 100%;
    display: flex;
    flex-direction: row;
}

.column1{
    display: block;
    width: 25%;
    margin: 1em;
}

.column2{
    width: 75%;
    margin: 1em;

}


#list-example{
position: sticky;
top: 70px;
z-index: 1;
}

#list-example a{
    margin: 0.20em auto;
    width: 80%;
    transition: 0.8s;
}

.list-group a:hover{
    background-color: #c77dff;
    color: white;
}


.tech1Picture2{
    display: block;
    margin: 4em 1em;
    border: solid black 3px;
    width: 70%;
}

.tech1Picture3{
    display: block;
    margin: 4em 1em;
    border: solid black 3px;
    width: 70%;
}

.tech1Picture4{
    display: block;
    margin: 4em 1em;
    border: solid black 3px;
    width: 70%;
}

/* --------------TechnologyTwo---------------- */


/* -------------technology2 section1------------------- */

.technology2SectionOne{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(178,82,236,1) 94%, rgba(142,9,199,1) 100%);    height: 38em;
    display: flex;
    flex-direction: row;
    width: 100%;

}

.stakeAura{
    display: flex;
    flex-direction: column;
    width: 45%;
    padding: 3em 0.5em 0 5em;
    color: white;
    gap: 1.5em;
}

.technology2Picture1{
    width: 55%;
    padding: 3em 0em 0em 4.5em;

}

.tech2Picture1{
    display: block;
    border: solid black 3px;
    width: 80%;
    height: 80%;
}

.stakeAura h2{
    font-size: 3.5em;
}

.stakeAura p{
    font-size: 1.8em;
}

.stakeYourAurButton{
    width: 8em;
    border: 2px solid;
    border-radius: 15px;
    border-color: black;
    color: black;
    font-size: 1.1rem;
    padding: 0.5rem;
    background-color: white;
    text-decoration: none;

}

.stakeYourAurButton:hover{
    color: #5B4B8A;
} 




/* -------------technology2 section2------------------- */


.technology2SectionTwo{
    background-color: #FFF9D7;
    display: flex;

}

.containerTechnology2{
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 1em auto;
    gap: 3em;
}

.divisionTechnology{
    width: 20em;
    padding: 1em;

}

.divisionTechnology h2{
    margin-top: 1em;
    font-size: 1.5rem;
    font-weight: bold;
}

.divisionTechnology p{
    font-size: 1rem;
    line-height: 1.4rem;
    width: 90%;
} 

.blockchainIcon{
    width: 3.5em;
    height: 3.5em;
}
 
/* -------------technology2 section3------------------- */

.technology2SectionThree{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(178,82,236,1) 94%, rgba(142,9,199,1) 100%);    height: 38em;
    display: flex;
    flex-direction: row;
    width: 100%;

}

.fluidRewards{
    display: flex;
    flex-direction: column;
    width: 45%;
    padding: 3em 0.5em 0 5em;
    color: white;
    gap: 1.5em;
}

.technology2Picture2{
    width: 55%;
    padding: 3em 0em 0em 4.5em;

}

.tech2Picture2{
    display: block;
    border: solid black 3px;
    width: 80%;
    height: 80%;
}

.fluidRewards h2{
    font-size: 3.5em;
}

.fluidRewards p{
    font-size: 1.5em;
}

.earnRewardsButton{
    width: 8em;
    border: 2px solid;
    border-radius: 15px;
    border-color: black;
    color: black;
    font-size: 1.1rem;
    padding: 0.5rem;
    background-color: white;
    text-decoration: none;
    text-align: center;

}

.earnRewardsButton:hover{
    color: #5B4B8A;
} 




/* -------------technology2 section4------------------- */

.technology2SectionFour{
    background-color: #FFF9D7;
    display: flex;

}

.container2Technology2{
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 1em auto;
    gap: 3em;
}

.divisionTechnology2{
    width: 20em;
    padding: 1em;

}

.divisionTechnology2 h2{
    margin-top: 1em;
    font-size: 1.5rem;
    font-weight: bold;
}

.divisionTechnology2 p{
    font-size: 1rem;
    line-height: 1.4rem;
    width: 90%;
} 

.blockchainIcon{
    width: 3.5em;
    height: 3.5em;
}




/* -------------technology2 section5------------------- */

.technology2SectionFive{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(178,82,236,1) 94%, rgba(142,9,199,1) 100%);    height: 38em;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;

}

.container2Technology3{
    display: flex;
    flex-direction: column;
    width: 45%;
    padding: 3em 0.5em 0 5em;
    color: white;
    gap: 1.5em;
}

.technologyValidators{
    display: flex;
    flex-direction: column;
    width: 100%;
    color: white;
    gap: 1.5em;
}

.technologyValidators h2{
    font-size: 3.5em;

}
.technologyValidators p{
    font-size: 1.5em;

}

.requirements{
    margin-bottom: 5em;
}

.requirements li{
    font-size: 1.2em;
 }

.technology2Picture3{
    width: 55%;
    padding: 3em 0em 0em 4.5em;

}

.tech2Picture3{
    display: block;
    border: solid black 3px;
    width: 90%;
    height: 90%;
}


/* ----------------technology3 Section one------------------------------- */


.fathertech3{
    display: grid;
    grid-template-areas:
    "header"
    "tech31"
    "tech32"
    "tech33"
    "footer"
}


.technology33SectionOne{
    background: rgb(216,156,219);
    background: linear-gradient(90deg, rgba(216,156,219,1) 0%, rgba(201,144,201,1) 14%, rgba(219,93,219,1) 30%, rgba(219,38,218,1) 49%, rgba(231,7,227,1) 72%, rgba(153,82,150,1) 100%);
    padding: 1em;
    grid-area: tech31;
}

.tech3Intro{
    width: 90%;
    margin: 1em auto;

}

.tech3Intro h2{
    margin-top: 1.2em;
    width: 100%;
    font-size: 4.2em;
    margin-bottom: 0.6em;
}

.tech3Intro p{
    width: 75%;
    font-size: 25px;
    line-height: 1.67;
    letter-spacing: -.17px;
}
 

/* ----------------technology3 Section 2------------------------------- */

.technology3SectionTwo{
    background: rgb(216,156,219);
    background: linear-gradient(90deg, rgba(216,156,219,1) 0%, rgba(201,144,201,1) 14%, rgba(219,93,219,1) 30%, rgba(219,38,218,1) 49%, rgba(231,7,227,1) 72%, rgba(153,82,150,1) 100%);
    width: 100%;
    grid-area: tech33;
    height: auto;

}

.containerTechnology3{
    padding: 1em;
    margin: auto;
    width: 90%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;

}

.divisionTechnology3{
    margin: 0.5em auto;
    width: 85%;
    padding: 1em;

}

.technology3SectionTwo h3{
    margin-bottom: 1.5em;
    text-align: center;
    font-size: 3.2em;
}


.divisionTechnology3 h2{
    margin-top: 1em;
    font-size: 1.5rem;
    font-weight: bold;
}

.divisionTechnology3 p{
    font-size: 1.1em;
    line-height: 1.7em;
    width: 90%;
} 

.blockchainIcon3{
    width: 3.5em;
    height: 3.5em;
}


.technology3Picture1{
    width: 100%;
    padding: 3em;
}
.tech3Picture1{
    display: block;
    border: solid black 3px;
    width: 100%;
} 





/* ----------------technology3 Section 3------------------------------- */

.technology3SectionThree{
    width: 100%;
}
.aurSupply{
    background-color: #610C63;
    width: 100%;
    padding: 2em 2em 2em 4em;

}

.aurSupply h2{
    width: 80%;
    font-size: 2.6em;
    font-weight: bold;
    color: white;
}

.aurSupply p{
    width: 95%;
    font-size: 1.2rem;
    margin-top: 1.5rem;
    color: white;

}

.aurBuy{
    background-color: #610C63;
    width: 100%;
    padding: 2em 2em 2em 4em;


}

.aurBuy h2{
    width: 80%;
    font-size: 2.6em;
    font-weight: bold;
    color: white;

}

.aurBuy p{
    width: 95%;
    font-size: 1.2rem;
    margin-top: 1.5rem;
    color: white;
} 



/* ----------------technology4 Section one------------------------------- */
.fathertech4{
    display: grid;
    grid-template-areas:
    "header"
    "tech41"
    "tech42"
    "footer"
}

.technology4SectionOne{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(178,82,236,1) 94%, rgba(142,9,199,1) 100%);  
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;

}

.containerTechnology4{
    display: flex;
    flex-direction: column;
    width: 45%;
    padding: 2em 0.5em 0 3em;
    color: white;
    gap: 1.5em;
}

.technology4Picture1{
    width: 55%;
    padding: 3em 0em 0em 4.5em;

}

.tech4Picture1{
    display: block;
    border: solid black 3px;
    width: 90%;
    height: 80%;
}


.soul{
    padding: 1em;
    width: 95%;

}

.soul h2{
    width: 90%;
    font-size: 3.5em;
    letter-spacing: normal;
}

.soul p{
    width: 100%;
    line-height: 1.95rem;
    font-size: 1.25rem;
    margin-top: 1.5rem;

}

.soulIs{
    padding: 1em;
    width: 95%;
}


.soulIs ul{
    width: 100%;
    margin-left: -1.3em;
    padding-inline-start: 30px;
    font-size: 1.15rem;
}

.soulIs ul li{
    display: list-item;
    margin-top: 1em;

}

/* ----------------technology4 Section two------------------------------- */

.technology4SectionTwo{
    background: rgb(243,240,245);
    background: linear-gradient(90deg, rgba(243,240,245,1) 0%, rgba(213,178,230,1) 94%, rgba(200,117,236,1) 100%);    width: 100%;
    grid-area: tech42;
    display: flex;
    flex-direction: row;
}


.column11{
    width: 25%;
    padding: 1em;

}

.column22{
    width: 75%;
}


.whySoul, .concesusProtocol, .soulConcensus, .soulWork{
    justify-content: center;
    align-items: center;
    width: 100%;

}

.whySoul h2, .concesusProtocol h2, .soulConcensus h2, .soulWork h2{
    font-size: 2.3em;
    font-weight: 700;

}

.whySoul h3, .concesusProtocol h3, .soulConcensus h3, .soulWork h3{
    font-size: 1.8em;
}

.whySoul p, .concesusProtocol p, .soulConcensus p, .soulWork p{
    width: 85%;
    line-height: 1.95rem;
    font-size: 1.15rem;
    margin-top: 1.5rem;

}














@media (max-width:1050px) {


/* -------------header------------------- */
    
    .navbar-nav{
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 2.5em;
        margin-left: 10em;
    
    }
    
    .navbar-nav a{
        font-size: 1.15em;
        font-weight: 500;
    }    

.navbar-toggler{
    align-self: center;
    margin-left: 90%;

} 

/* -------------technology2 section1------------------- */


.technology2SectionOne{
    display: flex;
    flex-direction: column; 
    height: auto;

}

.stakeAura{   
    padding: 3em 0.5em 0 5em;
    width: 100%;
}

.technology2Picture1{
    width: 100%;
    padding: 3em 0em 0em 4.5em;
}


.tech2Picture1{
    margin-left: 1.2em;
    margin-bottom: 2em;
    display: block;
    border: solid black 3px;
    width: 75%;
    height: 50%;
}



/* -------------technology2 section3------------------- */

.technology2SectionThree{
    display: flex;
    flex-direction: column; 
    height: auto;

}

.fluidRewards{   
    padding: 3em 0.5em 0 5em;
    width: 100%;
}

.technology2Picture2{
    width: 100%;
    padding: 3em 0em 0em 4.5em;
}


.tech2Picture2{
    margin-left: 1.2em;
    margin-bottom: 2em;
    display: block;
    border: solid black 3px;
    width: 75%;
    height: 50%;
}

/* -------------technology2 section5------------------- */

.technology2SectionFive{
    width: 100%;
    display: flex;
    flex-direction: column; 
    height: auto;

}

.container2Technology3{
    width: 100%;
    padding: 3em 0.5em 0 5em;
    color: white;
}

.technologyValidators{  
    padding: 1em 0em 0 em 2em;
    width: 100%;
}

.technology2Picture3{
    width: 100%;
    padding: 3em 0em 0em 4.5em;
}

.tech2Picture3{
    margin-left: 1.2em;
    margin-bottom: 2em;
    display: block;
    border: solid black 3px;
    width: 75%;
    height: 50%;
}


.requirements{
    margin-bottom: 2em;
}


}


@media (max-width:950px) {


    
    .footer1{
        display: flex;
        flex-direction: column;
    }
    
    .footerLists{
        width: 100%;
    }
    

    
    .footerIcons{
        padding: 2em;
        width: 100%;
    }
    
    .socialListIcons{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        list-style: none;
        gap: 2.3em;
    
    }


    
    .socialListIcons .footerIcon:hover{
        background-color: white;
    }
    
     .footerEnd{
        margin-left: 3.2em;

    }
    
    .iconFooter{
        width: 13%;
        height: 13%;
    
    }

} 


@media (max-width:900px) {

    .videoIndex2{
        display: block;
        margin: 2em auto;
        width: 40em;
        height: 20em;
    } 

    .containerIndexOne h1{
        width: 90%;
        margin-left: 0.7em;
        margin-top: 1.25em;
        font-size: 3.5rem;
    }
    
    .containerIndexOne h2{
        margin-top: 1em;
        margin-left: 1.2em;
        font-size: 2.5rem;
    
    }
    
    .containerIndexOne p{
        width: 75%;
        margin-left: 2.2em;
        margin-top: 2em;
        line-height: 2.6rem;
        font-size: 1.5rem;
    
    }
    
/* -------------technology1------------------- */

.technology1SectionOne{
    padding: 1em;
    display: flex;
    flex-direction: column;
    height: auto;
}

.introToAura{   
    padding: 3em 0.5em 0 5em;
    width: 100%;
}

.technology1Picture1{
    width: 100%;
    padding: 3em 0em 0em 4.5em;
}

.introToAura h2{
    font-size: 2em;
    margin-left: 0.5em;
    color: white;
}

.introToAura p{
    width: 95%;
    margin-top: 1.7em;
    line-height: 1.7em;
    font-size: 1.1em;
    margin-left: 1em;
    color: white;
}



.techPicture1{
    margin-left: 1.2em;
    margin-bottom: 2em;
    display: block;
    border: solid black 3px;
    width: 80%;
    height: 60%;
}

.column1{
    display: none;
}

.column2{
    padding-left:5em ;
    width: 100%;
}





/* -------------technology4 Index1------------------- */

.technology4SectionOne{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(178,82,236,1) 94%, rgba(142,9,199,1) 100%);  
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;

}

.containerTechnology4{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 2em 0.5em 0 3em;
    color: white;
    gap: 1.5em;
}

.technology4Picture1{
    width: 100%;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: auto;
    padding-right: auto;

}

.tech4Picture1{
    display: block;
    border: solid black 3px;
    width: 90%;
}

.column11{
    display: none;
}

.column22{
    padding-left:5em ;
    width: 100%;
}

.soul{
    padding: 1em;
    width: 95%;

}

.soul h2{
    width: 90%;
    font-size: 3.5em;
    letter-spacing: normal;
}

.soul p{
    width: 100%;
    line-height: 1.95rem;
    font-size: 1.25rem;
    margin-top: 1.5rem;

}

.soulIs{
    padding: 1em;
    width: 95%;
}


.soulIs ul{
    width: 100%;
    margin-left: -1.3em;
    padding-inline-start: 30px;
    font-size: 1.15rem;
}

.soulIs ul li{
    display: list-item;
    margin-top: 1em;

}

} 


@media (max-width:850px) {


/* -------------header------------------- */
    

.navbar-toggler{
align-self: center;
margin-left: 80%;

} 

} 



@media (max-width:800px) {

/* --------------technologyThree Index1---------------- */

.tech3Intro h2{
    font-size: 2.9em;
}

.tech3Intro p{
    font-size: 1.6em;
    width: 80%;
}



/* --------------technologyThree Index2---------------- */

    
    .containerTechnology3{
        width: 90%;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 25%;
    
    }
    
    .divisionTechnology3{
        width: 85%;
    
    }

    .tech3Intro h2{
        font-size: 2.6em;

    }
    
    .tech3Intro p{
        width: 90%;
    }

    .technology3SectionTwo{
        width: 100%;
        grid-area: tech33;
        height: auto;
    
    }
    
    .technology3SectionTwo h3{
        margin-bottom: 1.5em;
        text-align: center;
        font-size: 2.6em;
    }
    
    
    .divisionTechnology3 h2{
        margin-top: 1em;
        font-size: 1.5rem;
        font-weight: bold;
    }
    
    .divisionTechnology3 p{
        font-size: 1.1em;
        line-height: 1.7em;
        width: 90%;
    } 
    
    .blockchainIcon3{
        width: 3.5em;
        height: 3.5em;
    }
    
    
    .technology3Picture1{
        width: 100%;
        padding: 3em;
    }
    .tech3Picture1{
        display: block;
        border: solid black 3px;
        width: 100%;
    } 
    
/* --------------index section6---------------- */

.technology3SectionTwo{
    background-color: rgb(240, 243, 38);
    width: 100%;
    grid-area: tech33;
    height: auto;

}

.socialNetworks{
    padding: 3em;
    margin: auto;
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;

}

.socials{
    width: 70%;
    height: 60%;
    text-align: center;
    box-shadow: 0 18px 36px -18px rgb(0 0 0 / 30%), 0 30px 60px -12px rgb(50 50 93 / 25%), 0 -12px 36px -8px rgb(0 0 0 / 3%);
    transition: 0.8s;
    margin-left: 3.2em;
    margin-right: 3.2em;
}

.socials:hover{
    transform: translateY(-25px);
    cursor: pointer;
    
}

.socials h3{
    margin-top: 1.9rem;
    margin-left: 0.1em;
    text-align: center;
    align-items: center;
    line-height: 0rem;
    font-size: 1.2em;

}

.socials p{
    color: white;
    display: contents;
    font-size: 1.2em;
}

.socialIntro{
    margin-top: 2em;
    margin-bottom: 0.5em;
    display: flex;
    flex-direction: row;
}
.socialIntro .socialIcon{
    margin-left: 20%;
}


/* --------------index section5---------------- */



    .backers{
        grid-template-columns: repeat(3, 1fr);
    }

    .supporters{
        grid-template-columns: repeat(2, 1fr);
    }

} 

@media (max-width:750px) {

/* --------------indexThree---------------- */

    .indexSectionThree{
        background-color: white;
        grid-area: index3;
        width: 100%;
    }
    
    .containerIndexThree{
        display: flex;
        flex-direction: column;
    }
    
     .divisionIndexThree{
        margin-left: 1em;
        width: 95%;
        max-width: 90%;
    }
    
     .divisionIndexThree h2{
        font-size: 1.3em;
        font-weight: bold;
        margin-top: 1.5em;
        margin-left: 1em;
    }
    
    .divisionIndexThree p{
        font-size: 1.1em;
        line-height: 1.4em;
        margin-top: 0.5em;
        margin-left: 1em;
        width: 85%;
    } 
    
    .blockchainIcon{
        margin-left: 1em;
        width: 3em;
        height: 3em;
    }
    
/* --------------IndexFour---------------- */

.introIndexFour{
    width: 100%;
    display: flex;
    flex-direction: column;
} 

.introIndexFour h2{
    width: 80%;
    color: white;
    margin-top: 1em;
    font-size: 2.2rem;
    margin-left: 1rem;
    border-bottom: none;
}

.introIndexFour p{
    color: white;
    font-size: 1.5em;
    width: 95%;
    margin-left: 1rem;

} 
.intro1{
    width: 85%;
    display: flex;
    flex-direction: row;

    border-bottom: 3px solid black;
}


.buttonBuildNow{
    width: 7em;
    border: 3px solid;
    border-radius: 20px;
    border-color: black;
    color: black;
    font-size: 1.5rem;
    margin-top: 1em;
    padding: 0.2rem;
    background-color: white;
    text-decoration: none;
    text-align: center;
}


.divisionsIndexFour{
    display: flex;
    flex-direction: column;

}

.divisionIndexFour1 , .divisionIndexFour2, .divisionIndexFour3{
    width: 95%;
    margin: 0.25em auto;
    padding: 0.5em;
    color: white;

}

.divisionIndexFour1 h2, .divisionIndexFour2 h2,.divisionIndexFour3 h2{
    font-size: 1.5em;
}

.divisionIndexFour1 p, .divisionIndexFour2 p,.divisionIndexFour3 p{
    font-size: 1.1em;
    margin-top: 0.5em;
}  

.buttonArrow{
    margin-left: 0.5em;
    font-weight: bold;
}

.arrow{
    margin-top: 0em;
    width: 2em;
    height: 2em;
} 

/* --------------TechnologyOne---------------- */

.introToAura{
    padding-left: 1em;
}
.technology1Picture1{
    padding-left: 1em;
}

.column2{
    padding-left:2em ;
    width: 100%;
}

/* -------------technology2 section2------------------- */

.technology2SectionTwo{
    background-color: white;
    grid-area: index3;
    width: 100%;
}

.containerTechnology2{
    display: flex;
    flex-direction: column;
}

 .divisionTechnology{
    background-color: white;
    margin-left: 1em;
    width: 95%;
    max-width: 90%;
}

 .divisionTechnology h2{
    font-size: 1.3em;
    font-weight: bold;
    margin-top: 1.5em;
    margin-left: 1em;

}

.divisionTechnology p{
    font-size: 1.1em;
    line-height: 1.4em;
    margin-top: 0.5em;
    margin-left: 1em;
    width: 85%;
} 

.blockchainIcon{
    margin-left: 1em;
    width: 3em;
    height: 3em;
}

/* -------------technology2 section4------------------- */

.technology2SectionFour{
    background-color: white;
    grid-area: index3;
    width: 100%;
}

.container2Technology2{
    display: flex;
    flex-direction: column;
}

 .divisionTechnology2{
    background-color: white;
    margin-left: 1em;
    width: 95%;
    max-width: 90%;
}

 .divisionTechnology2 h2{
    font-size: 1.3em;
    font-weight: bold;
    margin-top: 1.5em;
    margin-left: 1em;

}

.divisionTechnology2 p{
    font-size: 1.1em;
    line-height: 1.4em;
    margin-top: 0.5em;
    margin-left: 1em;
    width: 85%;
} 

.blockchainIcon{
    margin-left: 1em;
    width: 3em;
    height: 3em;
}









} 



@media (max-width:600px) {

/* --------------IndexSix---------------- */




.socialNetworks{ 
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 2em;

}


.socials{
    padding: 0.25em;
    width: 50%;
    min-width: 42%;
    height: 10em;
    text-align: center;
    box-shadow: 0 18px 36px -18px rgb(0 0 0 / 30%), 0 30px 60px -12px rgb(50 50 93 / 25%), 0 -12px 36px -8px rgb(0 0 0 / 3%);
    transition: 0.8s;
}

.socials:hover{
    transform: translateY(-25px);
    cursor: pointer;
    
}

.socials h3{
    margin-top: 1.9rem;
    margin-left: 0.1em;
    text-align: center;
    align-items: center;
    line-height: 0rem;
    font-size: 1.2em;

}

.socials p{
    color: white;
    display: contents;
    font-size: 1.2em;
}

.socialIntro{
    margin-top: 2em;
    margin-bottom: 0.5em;
    display: flex;
    flex-direction: row;
}
.socialIntro .socialIcon{
    margin-left: 20%;
}








}





@media (max-width:575px) {


/* -------------header------------------- */
            
.navbar-toggler{
    align-self: center;
    margin-left: 70%;
        
} 
        
.logo{
    width: 6em;
    height: 6em;
    border-radius: 20px;
    margin: 2em 0em 2em 2em;

}
        
        

/* --------------IndexFive---------------- */

.containerIndexFiveBackers h2{
    font-size: 2.8em;
} 

.containerIndexFiveSupporters h2{
    font-size: 2.8em;
} 

.backers{
    grid-template-columns: repeat(2, 1fr);
}


/* --------------footer---------------- */


.listfoot{
    display: flex;
    flex-direction: column;
}

.socialListIcons{
    max-width: 85%;
    gap: 1em;

} 

/* -------------technology2 section5------------------- */

.container2Technology3{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 1em;
    color: white;
    gap: 1.5em;
}

.technologyValidators{
    display: flex;
    flex-direction: column;
    width: 100%;
    color: white;
    gap: 1.5em;
}


.technologyValidators h2{
    font-size: 2.3em;
}

.technologyValidators p{
    font-size: 1.4em;
}

.technology2Picture3{
    width: 100%;
    padding: 1em;
}

.tech2Picture3{
    margin-left: 1.2em;
    margin-bottom: 2em;
    display: block;
    border: solid black 3px;
    width: 85%;
}

/* --------------technologyThree Index2---------------- */



.tech3Intro h2{
    font-size: 2.3em;

}

.tech3Intro p{
    width: 90%;
    font-size: 1.2em;
}

.technology3SectionTwo{
    width: 100%;
    grid-area: tech33;
    height: auto;

}

.technology3SectionTwo h3{
    margin-bottom: 1.5em;
    text-align: center;
    font-size: 2.3em;
}

}

@media (max-width:450px) {


/* -------------header------------------- */
                
.navbar-toggler{
    align-self: center;
    margin-left: 60%;         
}            

.logo{
    width: 5em;
    height: 5em;
    border-radius: 20px;
    margin: 2em 0em 2em 1.5em;
}

} 


@media (max-width:375px) {


    .socialNetworks{
        padding-left: 2em;
    }

    .socials{
        width: 80%;
    }
/* ------------index section1----------- */

    .containerIndexOne h1{
        font-size: 2.5em;
        margin-left: 0.5em;

    }
    .containerIndexOne h2{
        font-size: 2em;
        margin-left: 0.8em;

    }

    .containerIndexOne p{
        width: 90%;
        font-size: 1em;
        line-height: 1.5em;
        margin-left: 1.5em;
    }

    .DiscoverAuraButton{
        width: 7em;
        border: 2px solid;
        border-radius: 12px;
        border-color: black;
        color: black;
        font-size: 1em;
        margin: 1.2em 0em 2.5em 1.2em;
        padding: 0.1rem;
        background-color: white;
        text-decoration: none;
        text-align: center;
    
    }


}
